.carousel-inner > .carousel-item > img {
  width: 100%;
}


.carousel-inner h1 ,h2 {
  color: rgba(242, 231, 234, 0.911) !important;
  text-shadow: 1px 1px 2px black;
}

.carousel-item{
  transition: 10s;
}
.carousel{
  margin-top: 40px;
  width: 80%;
}
