.card-imagem {
  width: 100%;
  height: 150px;
}
.id{
  margin-top: 10px;
  margin: 2px solid red;
}

.card {
  display: inline-block;
  margin: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 4px black;
  margin-left: 10px;
}

.card-body {
  text-align: center;
  color: black;
}

.card:hover, input:hover {
  box-shadow: 0 0 1em rgb(17, 204, 95);
  cursor: pointer;

}
.card:hover{
  transform: scale(1.07);
  transition: all 0.4s;
}

button {
  margin: 5px;
}