* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    position: none;
}
/* .navbarr{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: inherit;
    color: aliceblue;
    background-color: black;
    height: 10vh;
    margin-top: -40px;
} */





