*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.fundo {
  box-sizing: border-box;
  font-size: 62.5%;
  background-image: url("../../assets/background3.png");
  background-repeat: repeat;
  padding-bottom: 100px;
  margin-top: 29px;
}

.accordion {
  width: 95%;
}


.container {
  width: 60%;
  
  
}
.divisao{
  height:150px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
}